.navcontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 20px;
}
.centerctn{
    display: flex;
}
.centerctn div{
    border: 2px solid rgb(255, 255, 255);
    margin: 5px;
    padding: 8px;
    border-radius: 15px;
    margin-right: 7px;
    margin-left: 7px;
    cursor: pointer;
}
.the{
    border: 2px solid rgb(255, 255, 255);
    margin: 5px;
    padding: 8px;
    cursor: pointer;
}
.other{
    border: 2px solid rgb(255, 255, 255);
    margin: 5px;
    padding: 8px;
    cursor: pointer;
}
img{
    border-radius:
}