ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(80, 74, 74);
    width: 20%;
}
li a{
    text-decoration: none;
    padding: 20PX;
    color: #fff;
    display: block;
}
a:hover{
    background-color: black;
}
.active{
    background-color: green;
}
li a:hover:not(.active){
    background-color: #111;
}